{% extends 'base.html' %}

{% block title %} Movie details {% endblock %}

{% block content %}

  <div>
    Title: {{ movie.title }}
  </div>  

  <div>
    Release date: {{ movie.released_at }}
  </div>  

  <div>
    <a href={{ movie.imdb_url }}>IMDB</a> 
  </div>  

  {% if session %}
      <div>Logged in as: User {{session['current_user']}}</div>
      <form action="/rate_movie" method="POST">

        {% if user_rating %}
          <div>Current rating:  {{user_rating[0]}}</div>
          <div>Rerate movie?</div>
        {% else %}
          <div>Movie not yet rated by you.</div>
          <div>Rate movie?</div>
        {% endif %}

        <!-- Dropdown box for ratings 1-5 -->
        <input type="hidden" value={{session['current_user']}} name="user_id" />
        <input type="hidden" value={{ movie.movie_id }} name="movie_id" />
        <select name='rating'>

        {% if user_rating %}
          {% for i in [1,2,3,4,5] %}
            <option 
              {% if i == user_rating[0] %}
                selected
              {% endif %}

              value={{ i }}>{{ i }}
            </option>
          {%endfor%}
        {% else %}
          {% for i in [1,2,3,4,5] %}
              <option value={{ i }}>{{ i }}
              </option>
        {% endfor %}
        {% endif %}

        </select>
        <input type="submit" value="Rate">

      </form>
      
  {% endif %}

    <h2>Ratings</h2>
    <ul>
      {% for rating in ratings %}
          <li> 
              <a href="/users/{{ rating.user_id }}">
                User id ({{ rating.user_id }})
              </a>
              Score: {{ rating.score }}
          </li>

      {% endfor %}
    </ul>

{% endblock %}